body {
  background-image: url("../images/city_background.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  background-size: cover;
}

#home-form {
  text-align: center;
  padding: 5% 10%;
}

#form-header {
  padding-top: 0px;
  margin-top: 0px;
}

.form-header {
  text-align: left;
}

.form-label {
  text-align: left;
  font-size: 14px;
  padding-bottom: 0px;
  margin-bottom: 0;
  color: black;
}

.date-label {
  text-align: left;
  font-size: 12px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: black;
}

.input-field {
  margin-top: 0px;
  margin-bottom: 0px;
}
