body {
	background-image: url("../images/cover_page.jpg");
  	background-repeat: no-repeat;
  	background-position: top left;
  	background-attachment: fixed;
  	background-size: cover;
}

#cover-body {
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	text-align: center;
}

#start-button {
	margin-top: 20px;
}